<% messages.each(function(msg){ %>
  <ul class="correspondence hvr-reveal">
    <img src="<%= msg.sender().escape("image_url") %>" alt="" />
    <li class="msg"><strong>From</strong>: <a href="#profiles/<%= msg.sender().get("id") %>"><%= msg.sender().escape("username") %></a></li>
    <li class="msg"><strong>Sent</strong>: <%= new Date(msg.escape("created_at")) %></li>
    <li class="msg"><strong>Body</strong>: <%= msg.escape("body") %></li>
  </ul>
<% }) %>

<ul>
  <form id="corr-message-form">
    <input type="hidden" name="message[sender_id]" value="<%= OkStupid.currentUser.id %>">
    <textarea class="corr-message-body" name="message[body]" rows="16" cols="108" placeholder="Write them a lovely message"></textarea>
    <button class="corr-msg-button" name="submit">Send</button>
  </form>
</ul>
