<h1 class="messages-header">Your Messages</h1>

<ul class="message-options">
  <li class="msg-option received selected">Received</li>
  <li class="msg-option sent middle">Sent</li>
  <li class="msg-option messages hidden">Messages</li>
</ul>
<ul class="messages">
  <% var sent = false %>
  <% messages.each(function(msg){ %>
    <% sent = false %>
    <% if(msg.get("receiver_id") === OkStupid.currentUser.id){ %>
      <% sent = true %>
      <ul class="received-msg hvr-reveal" data-id="<%= msg.get("sender_id") %>">
        <img src="<%= msg.sender().escape("image_url") %>" alt="" />
        <li class="msg"><strong>From</strong>: <a href="#profiles/<%= msg.sender().get("id") %>"><%= msg.sender().escape("username") %></a></li>
        <li class="msg"><strong>Sent</strong>: <%= new Date(msg.escape("created_at")) %></li>
        <li class="msg"><strong>Title</strong>: <%= msg.escape("title") %></li>
        <li class="msg"><strong>Body</strong>: <%= msg.escape("body") %></li>
      </ul>
    <% } %>
  <% }) %>
  <% if(sent){ %>
    <ul class="received-msg">
      "You don't seem to have any messages."
    </ul>
  <% } %>
</ul>
