<h1>Hi <%= @user.username %>!</h1>

<section class="profile">
  <section class="about-me">
    <h4>About Me</h4>
    <form action="<%= user_profile_url(@user.id) %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="profile[user_id]" value="<%= @user.id %>">
    <li><strong>My self-summary</strong><br>
      <textarea name="profile[self_sum]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.self_sum %></textarea>
    </li>
    <li><strong>What I'm doing with my life</strong><br>
      <textarea name="profile[life_sum]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.life_sum %></textarea></li>
    <li><strong>I'm really good at</strong><br>
      <textarea name="profile[skills]" rows="8" cols="40" <% if current_user.id != @user.id%>, readonly<% end %>><%= @user.profile.skills %></textarea></li>
    <li><strong>Favorite books, movies, shows, music, and food</strong><br>
      <textarea name="profile[favorites]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.favorites %></textarea></li>
    <li><strong>The six things I could never do without</strong><br>
      <textarea name="profile[needs]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.needs %></textarea></li>
    <li><strong>I spend a lot of time thinking about</strong><br>
      <textarea name="profile[thoughts]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.thoughts %></textarea></li>
    <li><strong>On a typical Friday night I am</strong><br>
      <textarea name="profile[fun_acts]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.fun_acts %></textarea></li>
    <li><strong>You should message me if</strong><br>
      <textarea name="profile[msg_reason]" rows="8" cols="40" <% if current_user.id != @user.id %>, readonly<% end %>><%= @user.profile.msg_reason %></textarea></li>
    <% if current_user.id == @user.id %>
    <button name="button">Submit</button>
    <% end %>
  </form>
  </section>
  <section>
    <h4>I'm looking for</h4>
      <ul class="preferences">
        <form action="<%= user_preference_url(@user.id) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="preference[user_id]" value="<%= @user.id %>">
          <input type="hidden" name="_method" value="PATCH">

          <label>Who:
          <input type="text" name="preference[target_people]" value="<%= @user.preferences.target_people %>"></label><br>

          <label>Ages:
          <input type="text" name="preference[target_age_range]" value="<%= @user.preferences.target_age_range %>"></label><br>

          <label>Located:
          <input type="text" name="preference[target_location]" value="<%= @user.preferences.target_location %>"></label><br>

          <label>For:
          <input type="text" name="preference[target_purpose]" value="<%= @user.preferences.target_purpose %>"></label><br>

          <% if current_user.id == @user.id %>
            <button name="button">Submit</button>
          <% end %>
        </form>
      </ul>
  </section>
</section>

<% if current_user.id == @user.id %>
  <a href="<%= user_questions_url(@user.id) %>">Questions</a>
  <a href="<%= user_likes_url(@user.id) %>">Your Likes</a>
<% else %>
  <form action="<%= user_likes_url(@user.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[liker_id]" value="<%= current_user.id %>">
    <input type="hidden" name="like[likee_id]" value="<%= @user.id %>">
    <button name="button">Like</button>
  </form>
<% end %>

<a href="<%= users_url %>">Return to Index</a>
