<script charset="utf-8">
  window.currentUser = {
    id: <%= current_user.id %>,
    username: "<%= current_user.username %>",
    email: "<%= current_user.email %>",
    orientation: "<%= current_user.orientation %>",
    gender: "<%= current_user.gender %>",
    country: "<%= current_user.country %>",
    zipCode: <%= current_user.zip_code %>
  }
</script>

<div id="content">

</div>
