<h1>Your Matches</h1>

<ul>
  <% if(matches.length > 0){ %>
    <% matches.forEach(function(match){ %>
      <li><% if(match.get("match_percent") > 90){ %>
        <i class="fa fa-heart-o hvr-pulse hvr-radial-in"></i>
      <% } %><img src="<%= match.matchee().escape("image_url") %>" alt="<%= match.matchee().escape("username") %>" /><a href="#profiles/<%= match.matchee().id %>"><%= match.matchee().escape("username") %></a> - <%= match.escape("match_percent") %>% Match</li>
    <% }) %>
  <% } else { %>
    <strong>You don't have any matches. You will die alone. Goodbye. Beepboop.</strong>
  <% } %>
</ul>
