<h1>Questions</h1>

<ul class="questions">
  <% if(questions.length !== 0){ %>
  <% questions.each(function(question){ %>
    <% if(!question.get("answered_q")){ %>
    <li class="questions group">
    <h4 style="padding-left: 5px;"><%= question.escape("prompt") %></h4>
    <form id="<%= question.escape('id') %>">
      <% question.answers().each(function(answer){ %>
        <div class="answer">
        <% if(answer.get("question_id") === question.get("id")){ %>
          <input type="radio" name="userAnswer[answer_id]" id="<%= answer.escape('id') %>" value="<%= answer.get('id') %>"
          <% if(answer.get("answered")){ %>
            checked
          <% } %>>
          <input type="hidden" name="userAnswer[question_id]" value="<%= question.escape('id') %>">
          <input type="hidden" name="userAnswer[user_id]" value="<%= OkStupid.currentUser.id %>">
          <label for="<%= answer.escape('id') %>"><%= answer.escape("content") %></label>
        <% } %>
      </div>
      <% }) %>

      <button class="question hvr-grow-shadow" name="button">Submit</button>
    </form></li>
    <% } %>
  <% }) %>
  <% } else { %>
    <strong>You have answered all the questions!</strong>
  <% } %>
</ul>
