<h1>Your Profile</h1>

<% profiles.each(function(profile){ %>
  <% if(profile.escape("user_id") !== user_id){ %>
    <% return false; %>
  <% } %>
  <form class="profile-edit">
    <h4>My self-summary</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("self_sum") %></textarea>

    <h4>What I'm doing with my life</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("life_sum") %></textarea>

    <h4>I'm really good at</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("skills") %></textarea>

    <h4>Favorite books, movies, shows, music, and food</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("favorites") %></textarea>

    <h4>The six things I could never do without</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("needs") %></textarea>

    <h4>I spend a lot of time thinking about</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("thoughts") %></textarea>

    <h4>On a typical Friday night I am</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("fun_acts") %></textarea>

    <h4>You should message me if</h4>
    <textarea class="profile-edit" rows="8" cols="40" name="" value=""><%= profile.escape("msg_reason") %></textarea>
  </form>
<% }) %>
