<h1>Your Profile</h1>

<% profiles.each(function(profile){ %>
  <% if(profile.escape("user_id") !== user_id){ %>
    <% return false; %>
  <% } %>
  <h4>My self-summary</h4>
  <p>
    <%= profile.escape("self_sum") %>
  </p>

  <h4>What I'm doing with my life</h4>
  <p><%= profile.escape("life_sum") %></p>

  <h4>I'm really good at</h4>
  <p><%= profile.escape("skills") %></p>

  <h4>Favorite books, movies, shows, music, and food</h4>
  <p><%= profile.escape("favorites") %></p>


  <h4>The six things I could never do without</h4>
  <p><%= profile.escape("needs") %></p>

  <h4>I spend a lot of time thinking about</h4>
  <p><%= profile.escape("thoughts") %></p>

  <h4>On a typical Friday night I am</h4>
  <p><%= profile.escape("fun_acts") %></p>

  <h4>You should message me if</h4>
  <p><%= profile.escape("msg_reason") %></p>
<% }) %>
