<a href="">Back to Home</a>

<h3>Your Profile</h3>

<form id="your-profile">
  <label>
    My self-summary
    <input type="text" value="<%= profile.escape("self_sum") %>">
  </label>

  <label>
    What I'm doing with my life
    <input type="text" value="<%= profile.escape("life_sum") %>">
  </label>

  <label>
    I'm really good at
    <input type="text" value="<%= profile.escape("skills") %>">
  </label>

  <label>
    Favorite books, movies, shows, music, and food
    <input type="text" value="<%= profile.escape("favorites") %>">
  </label>

  <label>
    The six things I could never do without
    <input type="text" value="<%= profile.escape("needs") %>">
  </label>

  <label>
    I spend a lot of time thinking about
    <input type="text" value="<%= profile.escape("thoughts") %>">
  </label>

  <label>
    On a typical Friday night I am
    <input type="text" value="<%= profile.escape("fun_acts") %>">
  </label>

  <label>
    You should message me if
    <input type="text" value="<%= profile.escape("msg_reason") %>">
  </label>
</form>
