<!DOCTYPE html>
<html>
<head>
  <title>OkStupid</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"><a class="title" href="/#">OkStupid</a></h1>

  <% if current_user %>
    <h2>Signed in as: <%= current_user.username %></h2>
    <a href="<%= users_url %>">Rails App</a>
    <%= button_to "Sign Out", session_url, method: :delete %>
    <nav class="sidebar">
      <a href="#message/new">Send a Message</a>
      <a href="#questions">Questions</a>
    </nav>
    <nav class="topbar">
      <a href="/#profiles/<%= current_user.id %>">Profile</a>
      <a href="/#messages">Messages</a>
      <a href="/#matches/<%= current_user.id %>">Matches</a>
      <a href="/#likes/<%= current_user.id %>">Likes</a>
      <a href="<%= users_url %>">All Profiles</a>
    </nav>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

  <span><%= flash.now[:errors] %></span>

  <%= yield %>
</body>
</html>
