<!DOCTYPE html>
<html>
<head>
  <title>OkCalypso</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "application-mobile", media: "(max-width: 655px)" %>
  <%= stylesheet_link_tag "application-1000px", media: "(max-width: 1000px)" %>
  <%= javascript_include_tag "application" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
