<!DOCTYPE html>
<html>
<head>
  <title>OkStupid</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title group">
    <a class="title" href="/#">OkStupid</a>
    <% if current_user %>
      <h2 class="greet">Heyyy <%= current_user.username %></h2>
      <form id="sign-out" action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="sign-out" name="button">Sign Out</button>
      </form>
    <% else %>
      <nav class="sign-ins">
        <a href="<%= new_session_url %>">Sign In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
      </nav>
    <% end %>
  </h1>

  <% if current_user %>

    <nav class="sidebar">
      <a href="/#message/new">Send a Message</a>
      <a href="/#questions">Questions</a>
    </nav>
    <nav class="topbar">
      <a href="/#profiles/<%= current_user.id %>">Profile</a>
      <a href="/#messages">Messages</a>
      <a href="/#matches">Matches</a>
      <a href="/#likes/<%= current_user.id %>">Likes</a>
    </nav>
  <% else %>

  <% end %>

  <%= yield %>
</body>
</html>
