<!DOCTYPE html>
<html>
<head>
  <title>OkStupid</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title">OkStupid</h1>

  <% if logged_in? %>
    <h2>Signed in as: <%= current_user.username %></h2>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

  <%= flash.now[:errors] %>

  <%= yield %>
</body>
</html>
